<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <%= link_to "The Blog", "/", class: "navbar-brand" %>
        <% if user_signed_in? %>
          <div>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to "+ Post New Blog", new_post_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "My Blogs", user_posts_path, method: :get, class: "nav-link" %>
              </li>
              <% if is_admin?%>
                <li class="nav-item">
                  <%= link_to "Authors", users_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Pending Blogs", pendingposts_path, class: "nav-link" %>
                </li>
              <% end%>
            </ul>
          </div>
        <%end%>
        <div class="navbar userinfo float-right">
          <% if user_signed_in? %>
            <strong><%= current_user.email %></strong>&nbsp;
            <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %> &nbsp;|&nbsp;
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> &nbsp;|&nbsp;
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer>
    <div class="container">
      <div class="footer">Copyright &copy; The Blog <%= Time.now.year %>
      </div>
    </footer>
  </html>
